<h1><%= @pirate.name %></h1>
<p><%= @pirate.height %></p>
<p><%= @pirate.weight %><p>


<% @ship.each do |ship| %>
    <h1><%= ship.name %></h1>
    <p><%= ship.type %></p>
    <p><%= ship.booty %><p>
<% end %>
